<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- seo -%}
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
    <link rel="shortcut icon" type="image/png" href="{{ "/favicon.png" | relative_url }}">
    {%- feed_meta -%}
    {%- if jekyll.environment == 'production' and site.google_analytics -%}
      {%- include google-analytics.html -%}
    {%- endif -%}
    {%- if jekyll.environment == 'production' and site.matomo_analytics -%}
      {%- include matomo-analytics.html -%}
      <script src="{{ "/assets/js/jquery-2.1.4.min.js" | relative_url }}"></script>
      <link rel="stylesheet" href="{{ "/assets/js/jquery.cookiebar/jquery.cookiebar.css" | relative_url }}">
      <script src="{{ "/assets/js/jquery.cookiebar/jquery.cookiebar.js" | relative_url }}"></script>
      <script src="{{ "/assets/js/base.js" | relative_url }}"></script>
    {%- endif -%}
  </head>
