{%- if page.comments != false and jekyll.environment == "production" -%}
  <hr>
  <section id="isso-thread"></section>
  <script data-isso="{{ site.isso.url }}" src="{{ site.isso.url }}js/embed.min.js"></script>
{%- endif -%}
